/* In-class Boundary*/

*{outline: 1px solid blue;}

h1, h6 {font-family: sans-serif;}
nav {}
  header {}
  header h1 {color:white; background-color:blue;}
  footer {}

.image {
  position: relative;
  width: 100%; /* for IE 6 */
}

h2 {
  position: absolute;
  color: white;
  text-align: right;
  padding-right: 10px;
  top: 200px;
  left: 0;
  width: 100%;
}

h2 span {
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 5px;
}

figcaption {
  text-align: center;
}
